<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>survivingCodingBootCamp.com</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<h1 class="header__title">Surviving Coding Boot Camp</h1>
<header class="header">

    <ul>
        <li><a href="/" class="header__nav-link">Home</a></li>
        <li><a href="/hashtags" class="header__nav-link">Hashtags</a></li>
    </ul>
</header>
<main>

  <!--  <div th:each="tag:${hashtag}">
       <p th:text="${tag.title}"></p>
    </div>-->
    <div th:each="post:${hashtag}">
        <a th:href="'/posts/' + ${post.id}"><h3 th:text="${post.title}">name def</h3></a>

    </div>

</main>

</body>
</html>