<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${post.title}">Document</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
</head>

<body>
<h1 class="header__title">Surviving Coding Boot Camp</h1>
    <div class="container">
        <header class="header">

            <ul>
                <li><a href="/" class="header__nav-link">Home</a></li>
                <li><a href="/hashtags" class="header__nav-link">Hashtags</a></li>
            </ul>
        </header>
        <main class="main-content">
            <section class="main-content__post post">
                <h3 class="post__topic-title main-content__topic-title"><a th:text="${post.topic.name}" th:href="'/topics/'+${post.topic.id}" class="main-content__topic-link post__topic-link">Topic</a>
                    </h3>
                <h2 th:text="${post.title}" class="post__title main-content__topic-title">Post Title</h2>
                <p th:text="${post.content}" class="post__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque blanditiis, aut quae fuga id quis ut. 
                    Eligendi necessitatibus blanditiis officia, odio deleniti natus molestiae fugiat ex quod vel aliquam illum.
                </p>
                <h4 th:text="${post.author}" class="post__author main-content__topic-title">author</h4>
            </section>

            <section>

                <form th:action="'/addHashtag/'+ ${post.id}" method="post">
                    <p>Add a Hashtag</p>
                    <input type="text" name="newHashtag"/>
                    <button type="submit">Add Hashtag</button>
                </form>
            </section>
            <section>
                <form th:action="'/addComment/' + ${post.id}" method="POST">
                    <label for="commentBox">Enter Comment: </label>
                    <input type="text" id="commentBox" name="newComment">
                    <button type="submit">Add Comment</button>
                </form>
            </section>

            <div th:each="list:${AllComment}">
                <p th:text="${list.name}">name</p>

            </div>
        </main>
    </div>

</body>

</html>